* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* LOG IN */

.logInContainer {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;

  background-image: url(../assets/log-in-bg.jpg);
  background-size: cover;
}

.submitContainer {
  width: 500px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.meals-grid {
  max-width: 1100px;
  margin: auto;
}
/* .submitContainer label {
  display: block;
  font-size: 32px;
  font-weight: bold;
  color: blue;
  text-shadow: 1px 1px 3px snow;
} */

/* .submitContainer input {
  margin: 15px 0;
  padding: 10px;
  width: 100%;
  font-size: 32px;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: snow;
  color: blue;
}
 */
/* .submitContainer button {
  margin: 10px 30px;
  padding: 5px 20px;
  font-size: 32px;
  background: none;
  color: blue;
  outline: none;
  border: none;
  border-bottom: 2px solid snow;
  cursor: pointer;
} */

/* .link {
  text-decoration: none;
  color: inherit;
} */

/* END LOG IN STYLES */

.form-label {
  color: white;
}
/* END LOG IN */
